<!DOCTYPE html>
<html>
<head>
  <title>Users: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<p class="notice"><%= notice %></p>

This is the HTML layout

<%= yield %>

</body>
</html>
